@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --bg-color: #e8e8e8;
  --color-primary: #4d41c0;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: var(--bg-color);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
